# Abaikan dependensi lokal laptop
node_modules
**/node_modules

# Abaikan hasil build lokal
.next
**/.next
out
**/out
dist
**/dist
.turbo

# Abaikan git dan dokumentasi (JANGAN ABAIKAN FOLDER DOCKER)
.git
.gitignore
.dockerignore
# docker  <-- HAPUS ATAU KOMENTARI BARIS INI
README.md
*.docx
/todo/
/documents/
/notes/

# Abaikan log debug
*.log