# dependencies
node_modules
**/node_modules
.pnp
.pnp.*

# testing
/coverage
**/coverage

# next.js (💡 DIUBAH: Menggunakan bintang dua agar mencakup semua sub-apps)
**/.next/
**/out/

# production
build
dist
**/dist

# misc
.DS_Store
*.pem

# debug
*.log
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# dokumen & draf lokal
/todo/
/migration-script/
/documents/
/notes/
*.docx

# vercel & turbo
.vercel
.turbo

/packages/tes/
/packages/*.ps1